In [1]:
import pandas as pd
import numpy as np

In [2]:
data =  pd.read_csv('kc_house_data.csv')

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [5]:
data = data.drop_duplicates()

## 1. Quantas casas estão disponíveis para comprar?

In [6]:
print(f'Existem {data.shape[0]} casa disponíveis para compra')

Existem 21613 casa disponíveis para compra

## 2. Quantos atributos as casas possuem?

In [7]:
print(f'Existem {len (data.columns)} atributos por casa')

Existem 21 atributos por casa

## 3. Quais os atributos?

In [8]:
print(f'Os atributos são {[col for col in data.columns]}')

Os atributos são ['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

## 4. Qual a casa mais cara do Portfólio?

In [9]:
data_temp = data[['id','price']].sort_values(by='price',ascending=False).reset_index()

In [10]:
print(f'A cade de ID {data_temp["id"][0]} tem o valor de USD {data_temp["price"][0]}')

A cade de ID 6762700020 tem o valor de USD 7700000.0

## 5. QUal casa com maior numero de quartos?

In [11]:
data_temp = data[['id','bedrooms']].sort_values(by='bedrooms',ascending=False).reset_index()

In [12]:
print(f'A casa de ID {data_temp["id"][0]} tem {data_temp["bedrooms"][0]} quartos')

A casa de ID 2402100895 tem 33 quartos

## 6. Qual a soma total de quartos do conjunto de dados

In [13]:
print(f'No total temos {data["bedrooms"].sum()} quartos')

No total temos 72854 quartos

## 7. Quantas casas possuem 2 banheiros

In [14]:
print(f'{data.loc[data["bathrooms"]== 2].shape[0]} casas possuem 2 banheiros')

1930 casas possuem 2 banheiros

## 8. Qual o preço médio de todas as casas?

In [15]:
np.round(data.price.mean(),2)

540088.14

## 9. Qual preço médio de casas com 2 banheiros

In [16]:
np.round(data.loc[data['bathrooms'] == 2, 'price'].mean(),2)

457889.72

Casas com 2 banheiros possuem o valor médio de USD 401372.68

## 10. Qual preço minimo entre as casas com 3 quartos

In [17]:
data_temp = data.loc[data['bedrooms'] == 3 , 'price'];data_temp.min()

82000.0

O preço minimo de casas com 3 quartos é de 82000.0 USD

## 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar

In [18]:
len(data.loc[data['sqft_living'] > 300,'id'])

21612

## 12 - quantas casas tem mais de 2 andares?